---
---

$table-border-color: #ffffff;
$header-bg-color-secondary: #000000;
$header-bg-color: #444444;

@import "{{ site.theme }}";

#member-table-container {
    margin: 0 auto;
}

.mytable table {
    text-align: center;
    padding: 25px;
    margin: 0 auto;
}


.mytable td {
    text-align: center;
    vertical-align: middle;
    padding: 25px;
}

