---
---

$table-border-color: #ffffff;
$header-bg-color: #000000;
$header-bg-color-secondary: #444444;

@import "{{ site.theme }}";


table {
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
    vertical-align: middle;
}
