---
---

$table-border-color: #ffffff;
$header-bg-color-secondary: #000000;
$header-bg-color: #444444;

@import "{{ site.theme }}";

#member-table-container {
    margin: 0 auto;
}

#member-table table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#member-table tbody {
    text-align: center;
}

#member-table td {
    text-align: center;
    vertical-align: middle;
}
